# Node Environment
NODE_ENV=development

# Server Configuration
PORT=8000

# Subgraph Configuration
SUBGRAPH_ENDPOINT=https://api.studio.thegraph.com/query/1704765/msq-tokens-subgraph/version/latest

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# Cache Configuration (in seconds)
CACHE_TTL=300

# CORS Configuration
CORS_ORIGIN=*
